

<ul id="sidebar" class="nav nav-pills nav-stacked navbar-left" style="max-width: 170px; " >
    <li class="active"><a href="#"><span class="glyphicon glyphicon-off"></span> My Profile</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Profile</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-lock"></span>  Access</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  Message</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Schedule</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Statistics</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-comment"></span>  Chat</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contacts</a></li>
 <li><span class="glyphicon glyphicon-wrench">  <%= link_to 'Edit profile', edit_user_registration_path  %></span></li>
 <li><span class="glyphicon glyphicon-off"><%= link_to "  Logout", destroy_user_session_path, method: :delete %></span> </li>

</ul>










<!--
    <ul class="nav navbar-nav navbar-right">
     <h4> <li><span class="glyphicon glyphicon-wrench">  <%= link_to 'Edit profile', edit_user_registration_path  %> </span> </li>
      <li><span class="glyphicon glyphicon-off"><%= link_to "  Logout", destroy_user_session_path, method: :delete %></span></a></li></h4>
    </ul>
-->






